@charset "utf-8";

/*---Mise en forme global---*/
body {
    background-image: url("../img/motif-gateaux.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/*---Mise en forme de mes titres ---*/
header h1 {
    color: #ae5b89;
    font-family: 'Courgette', cursive;
    font-size: 3em;
    text-shadow: 4px 3px 6px grey;
    box-shadow: 4px 1px 6px;
    vertical-align: top; 
    width: 75%;
    display: inline-block;
    text-align: center;
    padding: 2% 0 0 2%;
    position: relative;
    animation-name: titre;
    animation-duration: 2s;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: dimgray; 
    font-family: 'Courgette', cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #e86ea5;
}

h3 {
    color: #ae5b89;
    border:  2px solid #ae5b89;
    border-radius: 10px 0px 10px 0px;
    padding-left: 2%;
    font-family: 'Courgette', cursive;
}

/*---Mise en forme du header---*/
header a img {
    padding: 35px 0;
    display: inline-block;
    width: 15%;
}

/*---Animation logo header---*/
#logo {
    position: relative;
    animation-name: moovelogo;
    animation-duration: 2s;
}

@keyframes moovelogo {
    from{left: -200px;}
    to {left: 0;}
}

@-o-keyframes moovelogo {
    from{left: -200px;}
    to {left: 0;}
}

@-webkit-keyframes moovelogo {
    from{left: -200px;}
    to {left: 0;}
}

/*---Animation h1---*/
@keyframes titre {
    from{top: -150px;}
    to{top: 0;}
}

@-o-keyframes titre {
    from{top: -150px;}
    to{top: 0;}
}

@-webkit-keyframes titre {
    from{top: -150px;}
    to{top: 0;}
}

@-moz-keyframes titre {
    from{top: -150px;}
    to{top: 0;}
}

/*---Mise en forme de notre menu principal---*/
/*---exemple de menu vertical
#principal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ae5b8980;
    border-style: solid;
    border-color: #ae5b89;
    border-width: 2px 2px 0 2px;
}

#principal a {
    display: block;
    color: darkslategrey;
    font-family: sans-serif;
    text-decoration: none;
    padding: 8px 16px; 
}

#principal li {
    text-align: center;
    border-bottom: 2px solid #ae5b89;
}

#principal li a:hover, #principale li a:focus, #principal li a:active {
    background-color: #ae5b89;
    color: #fff;
    text-decoration: underline;
}

#principal li a:active {
   background-color: coral;
   color: #fff;
} 

nav {
    margin-top: 2%;
}
---*/ 

/*---Exemple de menu horizontal*/
#principal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ae5b89;
    border-radius: 5px;
}

#principal li {
    float: left;
    border-right: 1px solid #fff;
}

#principal li:last-child {
    border: none;
}

#principal a {
    display: block;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
}

#principal li a:hover, #principal li a:active {
    background-color: #e86ea5;
    color: #fff;
}

/*---Mise en forme de mes paragraphe---*/
p {
    color: #21611F;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0px 15px;
    width: 49%;
}

#concept {
    background-image: url("../img/crepes-gateau.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

/* alignement paragraphes*/

#p1 {
    width: 45%;
    vertical-align: top;
    display: inline-block;
}

#p2 {
    width: 45%;
    display: inline-block;
}

/*---Mise en forme de la vidéo---*/
video {
    border: 4px outset #ae5b89;
}

/*---Mise en forme de l'audio---*/
#minuteur {
    border-radius: 5px;
}

/*---Mise en forme du tableau---*/
.tableau {
    padding: 20px;
}

/*---Mise en forme FOODTRUCK---*/
.truck1 {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.truck2 {
    width: 55%;
    display: inline-block;
}

.food {
    margin-top: 1.5%;
}

/*---Test sur les transitions---*/
#morph {
    background-color: #e86ea570;
    width: 300px;
    height: 300px;
    -o-transition: 3s background-color 3s, width 3s ease-out;
    -moz-transition: 3s background-color 3s, width 3s ease-out;
    -webkit-transition: 3s background-color 3s, width 3s ease-out;
    transition: 3s background-color 3s, width 3s ease-out;
} 

#morph p {
    color: darkslategray;
}

#morph:hover {
    background-color: #ae5b89;
    width: 75%;
}

/*---Test animation simple---*/
#anim {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    -o-animation-name: cube;
    -o-animation-duration: 5s;
    -webkit-animation-name: cube;
    -webkit-animation-duration: 5s;
    -moz-animation-name: cube;
    -moz-animation-duration: 5s;
    animation-name: cube;
    animation-duration: 5s;
    animation-fill-mode: both;
}

/*---Syntaxe de base---*/
@keyframes cube {
    from {background-color: aquamarine; width: 100px;}
    to{background-color: darkblue; width: 100%;}
}

/*---Syntaxe ---*/
@-o-keyframes cube {
    from {background-color: aquamarine; width: 100px;}
    to{background-color: darkblue; width: 100%;}
}

/*---Syntaxe ---*/
@-webkit-keyframes cube {
    from {background-color: aquamarine; width: 100px;}
    to{background-color: darkblue; width: 100%;}
}

/*---Syntaxe ---*/
@-moz-keyframes cube {
    from {background-color: aquamarine; width: 100px;}
    to{background-color: darkblue; width: 100%;}
}

/*---Test animation complexe---*/
#anim2 {
    width: 150px;
    height: 150px;
    background-color: darkgreen;
    position: relative;
    -o-animation-name: cube2;
    -o-animation-duration: 7s;
    -webkit-animation-name: cube2;
    -webkit-animation-duration: 7s;
    -moz-animation-name: cube2;
    -moz-animation-duration: 7s;
    animation-name: cube2;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes cube2 {
    0%{left: 0; top: 0;}
    25%{left: 300px; top:0; background-color: #7fffd460; border-radius: 0;}
    50%{left: 300px; top: 300px; background: url("../img/Logo.png") no-repeat; border-radius: 50%;}
    75%{left: 0; top: 300px; background-color: #8a2be260; border-radius: 0;}
    100%{left: 0; top: 0;}
}

@-o-keyframes cube2 {
    0%{left: 0; top: 0;}
    25%{left: 300px; top:0; background-color: #7fffd460; border-radius: 0;}
    50%{left: 300px; top: 300px; background: url("../img/Logo.png") no-repeat; border-radius: 100%;}
    75%{left: 0; top: 300px; background-color: #8a2be260; border-radius: 0;}
    100%{left: 0; top: 0;}
}

@-webkit-keyframes cube2 {
    0%{left: 0; top: 0;}
    25%{left: 300px; top:0; background-color: #7fffd460; border-radius: 0;}
    50%{left: 300px; top: 300px; background: url("../img/Logo.png") no-repeat; border-radius: 100%;}
    75%{left: 0; top: 300px; background-color: #8a2be260; border-radius: 0;}
    100%{left: 0; top: 0;}
}

@-moz-keyframes cube2 {
    0%{left: 0; top: 0;}
    25%{left: 300px; top:0; background-color: #7fffd460; border-radius: 0;}
    50%{left: 300px; top: 300px; background: url("../img/Logo.png") no-repeat; border-radius: 100%;}
    75%{left: 0; top: 300px; background-color: #8a2be260; border-radius: 0;}
    100%{left: 0; top: 0;}
}

/*---Mise en forme du menu footer---*/
#menufooter {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ae5b89;
    color: #fff;
    border-radius: 5px;
}

#menufooter li {
    display: inline;
    list-style: none;
}

#menufooter a {
    display: inline-block;
    background-color: #ae5b89;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 13px 16px;
}

#menufooter li a:hover {
    background: #e86ea5 url("../img/fond.png") no-repeat;
    
}

/*---Mise en forme du tableau---*/
table, table th, table td {
    border-collapse: collapse;
    border: 2px solid #e86ea5;
    font-family: sans-serif;
    padding: 10px 10px;
    text-align: center;
}

table th {
    background-color: #ae5b89;
    color: #fff;
}

/*---Test Flexbox---*/

#conteneur {
    height: 400px;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.element {
    padding: 20px;
    background-color: aqua;
    border: 1px solid;
    margin: auto;
}

.element:nth-child(2) {
    background-color: coral;
}

/*---Responsive---*/

/*---Ecran mobile---*/
@media screen and (max-width:439px) {
    header {
        text-align: center;
    }
    header h1 {
        width: 90%;
        margin-top: -1%;
        animation-name: test;
    }
    
    header a img {
        width: 30%;
    }
    
    video {
        width: 95%;
    }
    
    #principal {
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #principal li {
        display: block;
        float: none;
        border-right: 0;
        border-bottom: 1px solid #fff;
    }
    
    #principal a {
        padding: 16px 16px;
    }
    
    #anim2, #morph, #anim {
        display: none;
    }
    
    p {
        width: 95%;
        margin: auto;
    }
    
   #p1, #p2 {
        width: 95%;
    }
    
    .truck1 {
        width: 95%;
        margin: auto;
    }
    
    .truck2 {
        width: 100%;
        margin: 10px 0;
    }
    
     #minuteur {
        position: static;
        margin: 0 15%;
    }
    
   
}